<!DOCTYPE html>
<html lang="fr" ng-app="app"> <!--module principal-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="PrenomCtrl as $ctrl">
<div>
    Prénoms : <input ng-model="$ctrl.prenom">
    <button ng-click="$ctrl.addPrenom()">+</button>
</div>
<p ng-repeat="prenom in $ctrl.prenoms track by $index">
    Bonjour <span ng-bind="prenom"></span>!
    <button ng-click="$ctrl.deletePrenom($index)">-</button>
</p>
<button ng-click="$ctrl.deleteLast()">Supprimer dernier</button>
<script src="../node_modules/angular/angular.js"></script>
<script src="prenom.controller.js"></script>
</body>
</html>